@import "../fonts/leckerli-one/leckerli-one.css";

@import "../fonts/roboto_light_macroman/stylesheet.css";

@import "../fonts/roboto_regular_macroman/stylesheet.css";

@import "../fonts/roboto_bold_macroman/stylesheet.css";

@import "../fonts/roboto_black_macroman/stylesheet.css";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* -----------------------------------------------------------------------------------------

COLOURS

----------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------

WIDTHS & HEIGHTS

----------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------

TYPOGRAPHY

----------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------

Useful classes

----------------------------------------------------------------------------------------- */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.displayNone {
  display: none!important;
}
.clear {
  clear: both;
  float: none;
}
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* =========================================================================================

GLOBAL

========================================================================================= */
body,
html {
  height: 100%;
}
body {
  color: #6a6a6a;
  font-size: 18px;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background: #f6f6f6;
}
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.wrapper {
  margin: 0 auto;
  height: inherit;
}
.nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  background: rgba(245, 245, 245, 0.98);
  position: fixed;
  min-height: 72px;
  width: 100%;
  padding: 16px 0 0;
  z-index: 99;
}
.nav .navInner {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}
.nav .navInner .brand {
  color: #3a3a3a;
  font-family: "robotolight", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 36px;
  display: block;
  letter-spacing: -1px;
}
.nav .navInner .socialLinks {
  list-style: none;
  float: right;
}
.nav .navInner .socialLinks li {
  float: left;
  padding: 5px 0 0 15px;
}
.nav .navInner .socialLinks li a {
  color: #5a5a5a;
}
.mainContent {
  height: 100%;
  /* iosSlider */

  /* footer */

}
.mainContent .hero {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #c3325f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 80%;
  position: relative;
  padding-top: 102px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: table;
}
.mainContent .hero .heroInner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mainContent .hero h1 {
  font-family: "robotoblack", Helvetica, Arial, sans-serif;
  font-size: 170px;
  line-height: 0.8;
  color: #fff;
  letter-spacing: -1px;
}
.mainContent .article {
  padding: 60px;
}
.mainContent .article .articleInner {
  max-width: 800px;
  margin: 0 auto;
}
.mainContent .article.slideCopy {
  padding: 30px 60px;
}
.mainContent .iosslider {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  background: #e9e9e9;
  width: 100%;
  height: auto!important;
  float: left;
  /* slider */

}
.mainContent .iosslider .slider {
  /* required */

  width: 100%;
  background: #f6f6f6;
  /* slide */

}
.mainContent .iosslider .slider .slide {
  /* required */

  float: left;
  width: 100%;
}
.mainContent .iosslider .slider .slide .image .imageInner {
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  max-width: 800px;
  margin: 0 auto;
}
.mainContent .iosslider .slider .slide .article h2 {
  margin: 0;
}
.mainContent .iosslider .slider .slide .article h3 {
  margin: 0;
  color: #5a5a5a;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.mainContent .iosslider .slider .slide .article h5 {
  margin: 0;
  color: #999;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.mainContent .iosslider .slider .slide .article p {
  padding: 20px 0 0;
}
.mainContent .iosslider .slider .slide.bw .image {
  background: #26c1bd;
}
.mainContent .iosslider .slider .slide.bw .image .imageInner {
  background-image: url('../images/_heros/Hero_700-BurberryWorld-B.png');
}
.mainContent .iosslider .slider .slide.two .image {
  background: #ffc40d;
}
.mainContent .iosslider .slider .slide.two .image .imageInner {
  background-image: url('../images/_heros/Hero_700-Smash-A.png');
}
.mainContent .iosslider .slider .slide.ltkd .image {
  background: #e9e9e9;
}
.mainContent .iosslider .slider .slide.ltkd .image .imageInner {
  background-image: url('../images/_heros/Hero_400-LTKD-A.jpg');
  background-position: center bottom;
}
.mainContent .iosslider .sliderPrev,
.mainContent .iosslider .sliderNext {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  position: absolute;
  z-index: 9999;
  top: 235px;
  height: 50px;
  width: 50px;
  background: #f6f6f6;
  font-size: 58px;
  font-family: "robotolight", Helvetica, Arial, sans-serif;
  line-height: 0.65;
  text-align: center;
}
.mainContent .iosslider .sliderPrev:hover,
.mainContent .iosslider .sliderNext:hover {
  color: #2a2a2a;
}
.mainContent .iosslider .sliderPrev {
  left: 20px;
}
.mainContent .iosslider .sliderNext {
  right: 20px;
}
.mainContent .footer {
  background: #d55d82;
  padding: 60px;
  width: 100%;
  float: left;
  /* footerInner */

}
.mainContent .footer .footerInner {
  max-width: 800px;
  margin: 0 auto;
  /* footerContact */

}
.mainContent .footer .footerInner h5 {
  color: #f6f6f6;
  opacity: 0.8;
}
.mainContent .footer .footerInner .footerContact {
  list-style: none;
}
.mainContent .footer .footerInner .footerContact .footerContactItem {
  float: left;
  padding: 0 30px 0 0;
}
.mainContent .footer .footerInner .footerContact .footerContactItem a {
  color: #f6f6f6;
}
/* =========================================================================================

TYPOGRAPHY

========================================================================================= */
/* -------------------------------------------------------
Headers
------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
h1 {
  color: #2a2a2a;
  font-family: "robotolight", Helvetica, Arial, sans-serif;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 15px;
}
h1.homeHeader {
  font-size: 3em;
  text-align: center;
}
h1 em {
  text-transform: none;
  color: #6a6a6a;
}
h2 {
  color: #2a2a2a;
  font-family: "robotolight", Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 15px;
}
h2 em {
  text-transform: none;
  color: #6a6a6a;
}
h3 {
  color: #2a2a2a;
  font-family: "robotolight", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 10px;
}
h3 em {
  text-transform: none;
  color: #6a6a6a;
}
h4 {
  color: #2a2a2a;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
}
h4 em {
  text-transform: none;
  color: #6a6a6a;
}
h5 {
  color: #2a2a2a;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}
h5 em {
  text-transform: none;
  color: #6a6a6a;
}
/* -------------------------------------------------------
Paragraphs and other
------------------------------------------------------- */
p,
address {
  margin-bottom: 15px;
  font-size: 1em;
}
em {
  font-style: italic;
  font-weight: normal;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
strong {
  font-weight: normal;
  font-family: "robotobold", Helvetica, Arial, sans-serif;
}
a {
  color: #d55d82;
  text-decoration: none;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
a:hover {
  color: #cb3463;
  text-decoration: underline;
  cursor: pointer;
}
.superscript {
  vertical-align: super;
  font-size: 70%;
}
.subscript {
  vertical-align: bottom;
  font-size: 70%;
}
::selection {
  background: #d55d82;
  color: #ffffff;
}
::-moz-selection {
  background: #d55d82;
  color: #ffffff;
}
/* =========================================================================================

Desktop

========================================================================================= */
@media screen and (min-device-width: 1025px) and (max-width: 1380px) {
  
}
/* =========================================================================================

Tablet

========================================================================================= */
@media screen and (min-width: 720px) and (max-width: 1024px) {
  .mainContent .hero {
    padding-left: 60px;
  }
  .mainContent .hero h1 {
    font-size: 120px;
    line-height: 0.8;
  }
  .mainContent .article {
    padding: 40px;
  }
}
/* =========================================================================================

Mobile

========================================================================================= */
@media screen and (max-width: 719px) {
  .mainContent {
    /* /iosslider */
  
  }
  .mainContent .hero {
    min-height: 100%;
  }
  .mainContent .hero h1 {
    font-size: 80px;
    line-height: 0.7;
  }
  .mainContent .article {
    padding: 30px;
  }
  .mainContent .article.slideCopy {
    padding: 30px;
  }
  .mainContent .iosslider {
    /* slider */
  
  }
  .mainContent .iosslider .slider {
    /* slide */
  
  }
  .mainContent .iosslider .slider .slide .image .imageInner {
    height: 300px;
    background-size: contain;
    background-position: center top;
    margin: 0 50px;
  }
  .mainContent .iosslider .slider .slide.ltkd .image .imageInner {
    background-image: url('../images/_heros/Hero_400-LTKD-B.jpg');
  }
  .mainContent .iosslider .sliderPrev,
  .mainContent .iosslider .sliderNext {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    top: 0;
    padding-top: 135px;
    height: 300px;
    background: rgba(245, 245, 245, 0.2);
  }
  .mainContent .iosslider .sliderPrev:hover,
  .mainContent .iosslider .sliderNext:hover {
    background: rgba(245, 245, 245, 0.5);
  }
  .mainContent .iosslider .sliderPrev {
    left: 0;
  }
  .mainContent .iosslider .sliderNext {
    right: 0;
  }
  .mainContent .footer {
    padding: 30px;
  }
}
